*, *::before, *::after {
  box-sizing: border-box;
}
.container {
  width: 800px;
  min-width: 300px;
  min-height: 100px;
  max-width: 100%;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 10px solid #005F6A;
  padding: 150px 150px;
  border-radius: 50px;
}
.container:hover {
  background-color: #7da4a7;
  border-color: #7da4a7;
  color: #fff;
}
h2 {
  color: #005F6A;
  font-family: sans-serif;
  margin: 40px;
  transition: all 1s;
}
h2:hover {
  color: #fff;
}
#buttons {
  text-align: center;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#button-rock, #button-paper, #button-scissors {
  padding: 10px 50px;
  margin: auto;
  max-width: 100%;
  height: 70px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background-color: #005F6A;
  border: 2px solid #005F6A;
  border-radius: 50px;
  transition: all 1s;
}
#button-rock {
  animation-name: show;
  animation-duration: 3s;
}
#button-paper {
  animation-name: show;
  animation-duration: 7s;
}
#button-scissors{
  animation-name: show;
  animation-duration: 10s;
}
#button-rock:hover, #button-paper:hover, #button-scissors:hover {
  background-color: #fff;
  color: #005F6A;
  border: none;
}
#messages {
  margin: 20px;
  color: #005F6A;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
}
